<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>-.-</title>
<link rel="stylesheet" href="/jianghu/Public/css/backstage.css">
</head>
<body>
</br>
<h3>&nbsp推荐列表</h3>
<div class="details">
<div align="right">
<form method="post" action="http://121.42.203.85/jianghu/index.php/admin/search/doaction">
    <select name="cate" class="btn" >
        <option value="1">按用户名查找</option>
        <option value="2">按推荐关键字查找</option>
        <option value="3">按度数查找</option>
        <option value="4">按时间查找</option>
        <option value="5">按标签查找</option>
        <option value="6">按范围查找</option>
    </select>
    <input type=“text‘ name="searchkey" class="search" placeholder="请输入搜索条件" value="{$searchkey}"></input>
    <input class="btn" type="submit" />
</form>
</br>
</div>
                    <!--表格-->
                    <table class="table" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>用户</th>
                                <th>推送内容</th>
                                <th>时间</th>
                                <th>度数</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <foreach name='introduce' item='vo'>
                            <tr>
                                <!--这里的id和for里面的c1 需要循环出来-->
                                <td><input type="checkbox" id="c1" class="check"><label for="c1" class="label">{$vo.id}</label></td>
                                <td><a href="{:U('user/userdetails')}?username={$vo.username}"}>{$vo.username}</a></td>
                                <td>{$vo.text}</td>
                                <td>{$vo.time}</td>
                                <td>{$vo.degree}</td>
                                <td align="center"><input type="button" value="详情" class="btn" onclick="showDetail({$vo.id})"><input type="button" value="删除" class="btn"  onclick="delMsg({$vo.id})">
                                	
                                </td>
                            </tr>
                         </foreach>
                        </tbody>
                    </table>
                    <div class="pagination">{$page}</div>
                </div>
</body>
<script type="text/javascript">
	function showDetail(id){
		window.location="{:U('introduce/showdetail')}"+'?id='+id;
	}
	function delMsg(id){
			if(window.confirm("您确定要删除吗？删除之后不可以恢复哦！！！")){
				window.location="{:U('introduce/del')}"+'?id='+id;
			}
	}
</script>
</html>