<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>-.-</title>
<link rel="stylesheet" href="/jianghu/Public/css/backstage.css">
</head>

<body>
<br>
<h3>&nbsp用户列表</h3>
<div class="details">
                    <!--表格-->
                    <table class="table" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th >编号</th>
                                <th >用户名称</th>
                                <th >性别</th>
                                <th >用户邮箱</th>
                                <th >用户手机</th>
                                <th >注册时间</th>
                                <th >头像</th>
                                <th >状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <foreach name='user' item='vo'>
                            <tr>
                                <!--这里的id和for里面的c1 需要循环出来-->
                                <td><input type="checkbox" id="c1" class="check"><label for="c1" class="label">{$vo.id}</label></td>
                                <td><a href="{:U('user/userdetails')}?username={$vo.username}"}>{$vo.username}</a></td>
                                <td>{$vo.sex}</td>
                                <td>{$vo.email}</td>
                                <td>{$vo.phonenum}</td>
                                <td>{$vo.jointime}</td>
                                <td><img height="30px" alt="" src="{$vo.faceurl}"></td>
                                <td>{$vo.isban}</td>
                                <td align="center">
                                	<input type="button" value="禁用" class="btn"  onclick="ban({$vo.id})">
                                	<input type="button" value="解除禁用" class="btn"  onclick="unban({$vo.id})">
                                </td>
                            </tr>
                         </foreach>
                         
                        </tbody>
                    </table>
                    <div class="pagination">
                    	{$page}
                    </div>
                </div>
</body>
<script type="text/javascript">
	
	function unban(id){
		window.location="{:U('user/unban')}"+'?id='+id;
	}
	function ban(id){
		window.location="{:U('user/ban')}"+'?id='+id;	
	}
</script>
</html>