<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/jianghu/Public/css/backstage.css">
</head>
<body>
	<br>
	<h3>&nbsp添加商户</h3>
	<br>
	<form method="post" action="{:U('business/doadd')}"
		enctype="multipart/form-data">
		<table bgcolor="#ddd" class="table">
			<tr>
				<td align="right">商户名字</td>
				<td><input name='name' type='text'></input></td>
			</tr>
			<tr>
				<td align="right">商户地址</td>
				<td><input name='addr' type='text'></input></td>
			</tr>
			<tr>
				<td align="right">商户介绍</td>
				<td><input name='discription' type='text'></input></td>
			</tr>
			<tr>
				<td align="right">联系电话</td>
				<td><input name='phone' type='text'></input></td>
			</tr>
			<tr>
				<td align="right">logo</td>
				<td><input name='logo' type='file'></input></td>
			</tr>
			<tr>
				<td align="right">星级</td>
				<td><input name='star' type='text' ></input></td>
			</tr>
			<tr>
				<td colspan="2"><input type='submit' class='btn' value="添加"></input></td>
			</tr>
		</table>
	</form>
</body>
</html>